/.vs/
/slnx.sqlite
/VSWorkspaceState.json

# Dependências
**/bin
**/obj
**/packages
**/.vscode

# Arquivos de log
*.log
Logs/

# Sistema operacional
# Windows
*.pdb
*.pid
*.suo
*.user
*.cache
*.csproj.user
*.rsuser
*.vspscc
Thumbs.db
*.class
desktop.ini
$RECYCLE.BIN/

# Banco de dados local
*.sqlite
*.sqlite3
*.db

# Configuração de ambientes e publicações
.env
*.local.settings.json
appsettings*.json

# Certificados de HTTPS
*.pfx
*.p12

# Diretório de publicação
publish/